// Base Styles /////////////////////////////////////////////////////////////////

a, .button, .gform_button, .btn {
    @include transition(all 0.2s ease-in);  
    &:hover  {
        text-decoration: none;
        @include transition(all 0.2s ease-out);
    }
}

hr {
    border-top: 1px solid $gray-light;
}

h1 {
    // color: $h1-color;
    font-family: $font-family-display!important;
}

ul li {
    // counter-increment: foo;
    // display: table-row;
    // list-style: none;
}

ol {
    // counter-reset: foo;
    display: table;
}

ol, ul {
    margin-bottom: 0px;
    list-style-position: outside;
}

.sidebar ul, .sidebar ol, 
.main-col ul, .main-col ol { 
    padding-left: 20px; 
    li {
        margin-bottom: 10px;
        line-height: 1.4;
    }
}

input, select, textarea { 
    @extend .form-control; 
    font-size: inherit!important;
    padding: 0 8px 0 8px!important;
}

.fa-right { margin-left: 15px; margin-right: 0!important; }
.fa-left { margin-left: 0!important; margin-right: 15px; }

select { 
    @extend .form-control;
}

.small { line-height: 1.5; }

.well { margin-top: 30px; }

.blog, .archive {
    .main-col .well { display: none }
}

.list-inline > li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

button:focus {
outline: none;
}

li::before {
    // content: counter(foo) ".";
    // display: table-cell; /* aha! */
    // text-align: right;
}

iframe {
    @include border-radius($border-radius-img);
}

.main-col {
    img { border: 1px solid #dddddd; }
    a.btn { margin-right: 10px; }
}

.primary-content img {
    // @include border-radius($border-radius-img);
    max-width: 100%;
    height: auto;
}

header .navbar-brand {
    // padding-top: 15px;
    font-family: $font-family-serif;
    font-weight: $bold;
    font-size: 40px;
    img {
        width: 240px;
        height: auto;
        float: left;
    }
}

.col-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}    

.fa-right { margin-left: 15px; }
.fa-left { margin-right: 15px; }

.subhead {
    margin-top: -11px!important;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 2px;
}

.container {
    position: relative;
    z-index: 2;
}

.sidebar {
    // padding-bottom: 2000px;
    // margin-bottom: -2000px;
    // overflow: auto;   
    @extend .small; 
    background-color: $gray-lighter;
    line-height
    h1, h2, h3, h4, h5, h6 { margin-top: 0; }
    .gform_wrapper { margin-top: 10px!important; }
    .gform_fields { margin-top: 20px; }
    .gform_button { margin-top: 0px!important; }
    .validation_error { display: none; }
    .validation_message { display: none; }
}

.more-link { margin-top: 0!important; }

.sidebar-box { padding: 30px; }

.background-dark { background-color: $brand-dark!important; }

// Body BG //////////////////////////////////////////////////////////////////

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

// Masthead /////////////////////////////////////////////////////////////////

.masthead {
    background-color: transparent;
    h1, h2, h3, h4, h5, h6 { color: #ffffff; line-height: 0.75; }
    h1 { margin-top: 0; }
    p { color: $brand-light; }
    // p.lead { margin-top: 0; }
}

// Sidebar Feature Image /////////////////////////////////////////////////////////////////

.sidebar-col .attachment-sidebar-thumb {
    margin-bottom: $space-md;
    max-width: 100%;
    height: auto;
}

// Buttons /////////////////////////////////////////////////////////////////

.btn, .button, .gform_button {
    @include border-radius(50px);
}

.body-content .btn {
margin: $paragraph-top-margin;
margin-bottom: 10px;
}

.footer {
    .btn { margin-bottom: 10px; }
    a { 
        color: $navbar-default-link-color;               
        &:hover {
            color: $navbar-default-link-hover-color;
        }
    }
}

a.btn i.fa {
margin-right: 15px;
}

.btn-secondary {
color: $btn-secondary-color;
background-color: $btn-secondary-bg;
border-color: $btn-secondary-border;
}

.social-btns {
    margin-top: $space-sm;

    i {
    margin: 0 8px 0 8px;
    }
}


// Header Navigation Menus /////////////////////////////////////////////////////////////////

.navbar-btn.navbar-right { margin-left: 30px; }
.navbar-btn.navbar-left { margin-right: 30px; }

.nav > .menu-item > a {
    font-weight: 500;
    @include border-radius(50px);
}

.navbar {
    margin-bottom: 0px;
}

body > header > .top-navbar {
    // border-bottom: 5px solid $gray-lighter;
}

.navbar-toggle {
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 6px;    
}

.navbar-toggle i {
    color: #ffffff;
}

.navbar-toggle .icon-bar {
    height: 3px;
}

.navbar-toggle:focus {
    outline: none;
}

.navbar-collapse .navbar-nav li {
    border-bottom: 1px solid lighten($navbar-default-bg, 10%);
}

.navbar-nav {
    margin: 0px -15px;
}

.navbar-collapse {
    max-height: $navbar-collapse-max-height;
}

.sub-menu .menu-item:hover {
color: #ffffff!important;
}

.sub-menu .menu-item {
    background: $brand-dark;

    a:hover {
        color: #ffffff;
    }
}

.nav .open .dropdown-toggle {
    color: $navbar-default-link-open-color!important;
}

.mobile-landing {
    border-bottom: 1px solid $hr-border;
    padding-bottom: 10px;
    margin-bottom: 18px;
    background-color: $gray-lighter;

    .phone a {
        margin-top: 15px;
        font-size: 17px;
        padding: 14px 0px;
    }
}

// Blog

.page-header {
    margin: 0 0 40px 0;
    border: none;
}

.entry-meta { @extend .subhead; margin-top: 25px!important; }

.blog, .archive {
    footer.entry-meta { display: none; }
} 

.archive .page-title {
    @extend .btn, .btn-lg, .btn-primary, .btn-block;
    margin: 0!important;
    &:hover {
        background-color: $brand-primary;
        border-color: darken($btn-primary-bg, 5%);
    }
}

article.post {
    margin-bottom: 40px;
    border-bottom: 1px solid $gray-light;
    padding-bottom: 40px;
}

// Small-Footer Navigation Menus /////////////////////////////////////////////////////////////////

.footer-logo {
    padding-bottom: $space-lg;
    display: block;
}

.small-footer {
    background: $navbar-default-bg;
    a { display: block; text-align: center; }    
    .footer-menu {
        width: 100%;

        .menu li a {
            font-size: $font-size-small;
        }
    }
}

.footer-credits {
    width: 100%;
    font-size: 85%;
    a { 
        color: $brand-light; 
        &:hover { color: #ffffff;} 
    }
}


// Headings /////////////////////////////////////////////////////////////////

.body-content {
    // @include dynamic-headings-color($headings-color, $body-bg, $text-color); // If header color is same as bg, then darken text color
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.entry-content h1,
.entry-title,
.page-id-4 h2 {
    margin-top: 0;
}

.site-main {
    h2, h3, h4, h5, h6 {
        margin: $paragraph-top-margin;
        margin-bottom: 0px;
    }
}

// Site Title
.site-title a {
    font-size: $font-size-h3;
}

// Links /////////////////////////////////////////////////////////////////

.block {
    display: block;
}

// Lists /////////////////////////////////////////////////////////////////

.dropdown-menu {
    @include border-radius(0px 0px 4px 4px);

    li {
    display: list-item;

        a {
            color: #cccccc;
        }
    }
}



.nav .menu-item .dropdown-menu {

    .menu-item a {            
            padding: 10px 30px;            
            border-top: 1px solid lighten($brand-dark, 5%);            
    }
}

.menu-item .dropdown-menu {
    padding: 0px 0px;
}

.body-content {

    ul li:before {
        // font-family: 'FontAwesome';
        // content: "\f054";
        padding-right: 15px;        
        color: $list-bullet-color;
    }
}

// Gravity Forms
.ginput_complex {
    input, select { margin-bottom: 10px; }
}

body .gform_wrapper .gfield_time_hour, body .gform_wrapper .gfield_time_minute, body .gform_wrapper .gfield_date_month, body .gform_wrapper .gfield_date_day, body .gform_wrapper .gfield_date_year {
    width: 62px;
    line-height: 2.5;
}

body .gform_wrapper .gfield_time_hour input, body .gform_wrapper .gfield_time_minute input, body .gform_wrapper .gfield_date_month input, body .gform_wrapper .gfield_date_day input, body .gform_wrapper .gfield_date_year input {
    width: 78%!important; 
    display: inline;
}

body .gform_wrapper .gfield_time_ampm select {
    width: 70px !important;
}

body .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium { width: 100%; }

.gform_wrapper ul { padding-left: inherit; }

.ginput_container input, .ginput_container select, .ginput_container textarea {
    padding-left: 8px;
    padding-right: 8px;
}

.gform_wrapper .gform_button, .more-link { @extend .btn-success, .btn; }

.main-col #gform_wrapper_5 {
    .gform_button, .gform_title { margin-top: 0; }
}

body .gform_heading h3.gform_title { font-size: $font-size-h2!important; }

body .gform_wrapper .gform_footer {
    padding: 0 0 10px 0;
    margin: 0;
    clear: both;
}

.body-content .gform_body {
    ul li:before {
        font-family: inherit;
        content: none;
        padding-right: inherit;
        color: inherit;
    }
}

.gform_wrapper .top_label li.gfield.gf_left_half {
    float: left;
    clear: left !important;
}

.gform_wrapper .top_label li.gfield.gf_left_half {
    margin: 0 0 8px 0;
    width: 49%;
}

.gform_wrapper .top_label li.gfield.gf_left_half input.medium, .gform_wrapper .top_label li.gfield.gf_left_half input.large, .gform_wrapper .top_label li.gfield.gf_left_half select.medium, .gform_wrapper .top_label li.gfield.gf_left_half select.large, .gform_wrapper .top_label li.gfield.gf_right_half input.medium, .gform_wrapper .top_label li.gfield.gf_right_half input.large, .gform_wrapper .top_label li.gfield.gf_right_half select.medium, .gform_wrapper .top_label li.gfield.gf_right_half select.large {
width: 97%;
}

.gform_wrapper .top_label li.gfield.gf_left_half+li.gfield, .gform_wrapper .top_label li.gfield.gf_right_half+li.gfield, .gform_wrapper .top_label li.gfield.gf_left_half+.gform_footer, .gform_wrapper .top_label li.gfield.gf_right_half+.gform_footer {
clear: both;
}

.gform_wrapper .top_label li.gfield.gf_right_half {
float: right;
clear: right !important;
}

.gform_wrapper .top_label li.gfield.gf_right_half {
margin: 0 0 8px 0;
width: 49%;
}


// Logos Sections /////////////////////////////////////////////////////////////////

.logos {
    background: $gray-lighter;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid darken($body-bg, 10%); 

    .container .cred-logo.trec {
        padding-left: 50px;
        padding-right: 50px;
    }
}

// Paragraph /////////////////////////////////////////////////////////////////

.body-content {

    p, ul, ol {
        margin: $paragraph-top-margin;
    }
}

.lead {
  font-size: $font-size-h6;
  font-weight: $regular;
}

// Sidebar /////////////////////////////////////////////////////////////////

.primary-content {
    z-index: 0;
    background-color: #ffffff;
    position: relative;
    .sidebar.background {
        display: block;       
        opacity: 100;
        filter: alpha(opacity=10000);
        opacity: 1;
        filter: alpha(opacity=100);

        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        // z-index: 1;
        background: 50% 50% no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        // opacity: 20;
        // // filter: alpha(opacity=2000);
        // // opacity: 0.2;
        // filter: alpha(opacity=20);  
        .container {
            height: 100%;
            padding-top: 0;
            padding-bottom: 0;
        }      
        .col-sm-4 {
            position: absolute;
            height: 100%;
            div { 
                position: absolute;
                right: 0;
                height: 100%;
                width: 1000px;
                background: #f3f3f3;
                margin: 0;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                img {
                    height: 100% !important;
                    width: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                }            
            }
            .page-id-5, .page-id-7, .page-id-100 {
                img { height: 700px!important; }
            }
        }
    }
}

// Widgets /////////////////////////////////////////////////////////////////

.widget ul.menu {
    list-style: none;
    padding-left: 0;
}

.body-content .widget {
    padding-bottom: $space-md;
}  

.sidebar .widget > div {
    margin-top: $space-sm;    
}

.sidebar .widget div > ul, ol {
    padding-left: 0px;

    li {
        margin-bottom: $space-xs;
    }
}

.footer .widget {
    padding-bottom: 0px!important;
}

.widget_sp_image img {
    height: auto;
    @include border-radius($border-radius-img);
}

.small-footer .menu li {
    display: inline;
}

// Footer /////////////////////////////////////////////////////////////////

.footer {
    background-color: $brand-primary;
    z-index: 1000;
    color: $brand-light;
}

// Video Player /////////////////////////////////////////////////////////////////

.btn-play {
z-index: 1000;
position: absolute;
left: 50%;
top: 50%;
color: #ffffff;
margin-left: -34px;
margin-top: -40px;
}

.player {
@include border-radius($border-radius-img);
// background-size: 100% auto;
// background-attachment: fixed;
background: #000000;
// height: 357px;
}

.flex-video {
    margin: $paragraph-top-margin;
    background: darken($gray-lighter, 10%);    
    @include border-radius($border-radius-img);

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    iframe {
        @include border-radius($border-radius-img);
        padding: 5px;
    }
}

.flex-video.widescreen {
    padding-bottom: 56%;
}